[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
responder = "==1.1.1"
starlette = "<0.8.0"
requests = "*"
"oauth2client" = "*"
thoth-common = "*"
prometheus-client = "*"
google-api-python-client = "*"
google-cloud-pubsub = "*"
kafka-python = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false
